

<div class="work">
  <div class="projects-bar">
    <h1>Projects</h1>
  </div>

  <div class="projects"
       style="background-image: url('https://i.imgur.com/ygJZLK5.png'); height: 400px; width: 480px;">
    <div class="captions" style="width: 480px">
      <p>Project I am currently working on. Originally was a clone of Google All Access, but am currently making it my own.</p>
      <a href="https://gaaclone2.000webhostapp.com">Link</a>
    </div>
  </div>

  <div class="projects"
       style="background-image: url('https://i.imgur.com/MCTKOUe.png'); height: 300px; width: 300px;">
    <div class="captions">
      <p>Album Art I am working on for a future project (Untitled so far)</p>
    </div>
  </div>

  <div class="projects"
       style="background-image: url('https://i.imgur.com/y2BYhmF.png'); height: 300px; width: 300px;">
    <div class="captions">
      <p>Album Art I am working on for a future project (Kontrast Theory)</p>
    </div>
  </div>

  <div class="projects"
       style="background-image: url('https://i.imgur.com/ayiP08q.png')">
    <div class="captions">
      <p>EventExecs / Client Never used design / First website I ever built (Summer 2017)</p>
      <a href="https://givelyrics.000webhostapp.com/">Link</a>
    </div>
  </div>


  <div class="projects"
       style="background-image: url('https://i.imgur.com/aDSM1a9.png')">
    <div class="captions">
      <p>For a Coding Challenge I had to complete recently</p>
      <a href="https://flight-example.stackblitz.io">Link</a>
    </div>
  </div>

  <div class="projects"
       style="background-image: url('https://i.imgur.com/aOKOpto.png')">
    <div class="captions">
      <p>180-Day SVG Challenge I am doing. Currently ongoing</p>
      <a href="http://jsfiddle.net/eddietal2/mutyj7jc/">Link</a>
    </div>
  </div>

  <div class="projects"
       style="background-image: url('https://i.imgur.com/3HI0dlC.png')">
    <div class="captions">
      <p>Another Portfolio I made. I decided to ditch it because I felt the design wasn't simple enough</p>
      <a href="https://eddietaliaferro.000webhostapp.com/">Link</a>
    </div>
  </div>


</div>
