
<div class="qualifications">
  <h3 style="background-color: #555;">Skills</h3>
  <hr>
  <ul>
    <li> HTML5</li>
    <li> CSS3</li>
    <li>JavaScript & JQuery</li>
    <li> Some PHP </li>
    <li> Atom Editor </li>
    <li> Github </li>
    <li> Angular 2/4 + TypeScript </li>
    <li> Some NPM + Node </li>
    <li> Photo Manipulation (GIMP) </li>
    <li> SVG Creation </li>
    <li> Typing Speed > 70wmp </li>
    <li> Pie Eating </li>
    <li> Breathing </li>
    <li> Googling Stuff </li>
  </ul>
</div>

<div class="about">
  <h3 style="background-color: #2c7;">Who am I?</h3>
  <hr>
    <p>Eddie Taliaferro, that's who! I am someone who is simultaneously a big web dev nerd and artist, which is why I am so passionate about Front-End Development - its a good compromise to both worlds. I wouldn’t be mostly self taught if I didn’t have a passion for this! I love to build simple, minimalist styled types of interfaces with a lot of white space, well placed colors and animations, that are also easy on the eyes. I love all of Google’s designs and that’s what I emulate the most! Sleek, simple, clean, easy, and not so complicated.
Above all, Love is very important.
Have a good one !
</p>

</div>
